<app-header></app-header>
<html>
    <body> 
        <mat-tab-group class="margin-top">
            <mat-tab label="First" class="tab-label-css">
              <ng-template matTabContent>
                <!-- <app-content-landing-page></app-content-landing-page> -->
                Hellp 1
              </ng-template>
            </mat-tab>
            <mat-tab label="Second">
              <ng-template matTabContent>
                <!-- Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}} -->
                <app-content-landing-page></app-content-landing-page>
              </ng-template>
            </mat-tab>
            <mat-tab label="Third">
              <ng-template matTabContent>
                Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
              </ng-template>
            </mat-tab>
          </mat-tab-group>
    </body>
</html>
<app-footer></app-footer>