<div class="display-inline-flex elevation bg-clr header-fixed">
    <div class="box1-width">
        <mat-toolbar class="bg-clr height-inherit">
            <span>Store Inventory App</span>
        </mat-toolbar>
    </div>
    <div class="box2-width">
        <div>
            <mat-form-field appearance="fill" class="pd-btm bg-clr">
                <mat-label class="select-clr">Select Store</mat-label>
                <mat-select class="select-clr" [(value)]="companySelect" (selectionChange)="selectCompany(companySelect)">
                    <mat-option *ngFor="let company of obj1" [value]="company.value">
                        {{company.companyName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" class="pd-btm">
                <mat-label class="select-clr">Select Division</mat-label>
                <mat-select class="select-clr" [(value)]="divisionSelect" (selectionChange)="selectDivison(divisionSelect)">
                    <mat-option *ngFor="let divison of divisionObj" [value]="divison.divisionId">
                        {{divison.divisionName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>